// COLORS

// Primary
$pink: #ff52bf;

// Neutral
$very-pale-cyan: #ebfbff;
$very-dark-cyan: #00252e;
$grayish-blue: #808d99;

// Own declaration
$white: #fff;

// Breakpoints
$bp-large: 56.25em;
$bp-medium: 43.75em;
