.btn {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1rem 3rem;
    transition: all 0.3s;
  }

  &--outline {
    &:link,
    &:visited {
      display: inline-block;
      color: $black;
      border: 1px solid currentColor;
    }

    &:hover,
    &:active {
      color: $white;
      background-color: $black;
    }
  }

  &--creations {
    &:link,
    &:visited {
      position: absolute;
      top: 0;
      right: 2rem;

      @media screen and (max-width: $bp-medium) {
        position: static;
        top: auto;
        right: auto;
      }
    }
  }

  &--mobile {
    background: none;
    border: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    z-index: 1;

    @media screen and (max-width: $bp-medium) {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    &__icon {
      &[name="close"] {
        display: none;
      }
    }
  }
}
