.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 1rem 3rem;
  transition: all 0.3s;
}

.btn--outline:link,
.btn--outline:visited {
  color: $black;
  border: 1px solid currentColor;
}

.btn--outline:hover,
.btn--outline:active {
  color: $white;
  background-color: $black;
}
