html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.heading {
  font-family: "Raleway", sans-serif;

  &--primary,
  &--secondary {
    color: $very-dark-blue;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.4;

    @media screen and (max-width: $bp-large) {
      font-size: 3.2rem;
    }
  }

  &--secondary {
    @media screen and (max-width: $bp-medium) {
      font-size: 2.4rem;
    }
  }

  &--tertiary {
    font-size: 3.2rem;
    color: $light-grayish-blue;

    @media screen and (max-width: $bp-large) {
      font-size: 2.4rem;
    }
  }
}

.paragraph {
  line-height: 1.4;

  &--dark {
    color: $very-dark-blue;
  }

  &--light {
    color: $light-grayish-blue;
  }
}
