.form {
  &__labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;

    &--error {
      color: $clr-tomato;
      display: none;
    }
  }

  &__input {
    font-family: inherit;
    color: inherit;
    width: 100%;
    padding: 1.5rem 2rem;
    border: 1px solid $clr-gray;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 1.6rem;

    &:focus {
      outline: none;
      border: 1px solid $clr-dark-slate-gray;
    }
  }
}
