// Colors

// Primary
$pink: #ff52bf;
$light-pink: #ff8fd8;
$light-red: #ff4242;

// Neutral
$very-dark-cyan: #00252e;
$very-pale-blue: #f5faff;

// Own declaration
$white: #fff;
$light-gray: #adb5bd;
$blue: #339af0;
$green: #51cf66;

// Breakpoints
$bp-large: 50em; // 800px
$bp-medium: 37.5em; // 600px
$bp-small: 25em; // 400px
$bp-smallest: 21.875em; // 350px
