.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.grid-3-cols {
  grid-template-columns: repeat(3, minmax(min-content, 40rem));
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.grid-4-cols {
  grid-template-columns: repeat(4, minmax(min-content, 60rem));
}
