.section-creations {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
