.card {
  border-radius: 15px;
  overflow: hidden;
  background-color: $clr-dark-blue;

  &__details {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
    background-color: $clr-blue;
    padding: 3rem 9rem 9rem 3rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    @media screen and (max-width: $bp-tablet) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
      padding: 3rem;
    }
  }

  &__avatar {
    height: 8.4rem;
    width: 8.4rem;
    border: 3px solid $clr-white;
    border-radius: 50%;
    display: block;
  }

  &__label {
    display: block;
    font-size: 1.4rem;
    color: $clr-pale-blue;
    margin-bottom: 0.5rem;
  }

  &__name {
    font-size: 3.6rem;
    font-weight: 300;
    color: $clr-white;

    @media screen and (max-width: $bp-small) {
      font-size: 3rem;
    }

    &--block {
      display: block;

      @media screen and (max-width: $bp-tablet) {
        display: inline;
      }
    }
  }

  &__controls {
    padding: 3rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    color: $clr-pale-blue;

    @media screen and (max-width: $bp-tablet) {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
    }

    &__item {
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: $clr-white;
      }

      &.active {
        color: $clr-white;
      }
    }
  }

  // &__variant {
  //   height: 4rem;

  //   &--work {
  //     background: url("./assets/images/icon-work.svg"), $clr-light-orange;
  //     background-repeat: no-repeat;
  //   }

  //   &--play {
  //     background: $clr-soft-blue;
  //   }

  //   &--study {
  //     background: $clr-light-red;
  //   }

  //   &--exercise {
  //     background: $clr-lime-green;
  //   }

  //   &--social {
  //     background: $clr-violet;
  //   }

  //   &--selfcare {
  //     background: $clr-soft-orange;
  //   }
  // }

  &--stat {
    color: $clr-white;
    cursor: pointer;
    padding-top: 4rem;

    &--work {
      background: url(/assets/images/icon-work.svg) no-repeat top -1rem right 2rem,
        linear-gradient(to bottom, $clr-light-orange 50%, transparent 50%);
    }

    &--play {
      background: url(/assets/images/icon-play.svg) no-repeat top -0.5rem right 2rem,
        linear-gradient(to bottom, $clr-soft-blue 50%, transparent 50%);
    }

    &--study {
      background: url(/assets/images/icon-study.svg) no-repeat top -1rem right 2rem,
        linear-gradient(to bottom, $clr-light-red 50%, transparent 50%);
    }

    &--exercise {
      background: url(/assets/images/icon-exercise.svg) no-repeat top -0.2rem right
          2rem,
        linear-gradient(to bottom, $clr-lime-green 50%, transparent 50%);
    }

    &--social {
      background: url(/assets/images/icon-social.svg) no-repeat top -1.8rem right
          2rem,
        linear-gradient(to bottom, $clr-violet 50%, transparent 50%);
    }

    &--selfcare {
      background: url(/assets/images/icon-self-care.svg) no-repeat top -1rem right
          2rem,
        linear-gradient(to bottom, $clr-soft-orange 50%, transparent 50%);
    }

    &__content {
      padding: 3rem;
      background-color: $clr-dark-blue;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      overflow: hidden;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: lighten($clr-dark-blue, 10%);
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;

      @media screen and (max-width: $bp-large) {
        margin-bottom: 1rem;
      }
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 500;
    }

    &__setting {
      font-size: 2.4rem;
      color: $clr-pale-blue;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: $clr-white;
      }
    }

    &__numbers {
      padding-right: 6rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      @media screen and (max-width: $bp-large) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 0;
      }
    }

    &__hours {
      font-size: 5.2rem;
      font-weight: 300;

      @media screen and (max-width: $bp-large) {
        font-size: 4.4rem;
      }
    }

    &__previous-stat {
      color: $clr-pale-blue;
    }
  }
}
