// COLORS

// Primary
$clr-light-blue: #666ca3;
$clr-navy-blue: #13183f;
$clr-hot-pink: #f74780;
$clr-light-pink: #ffa7c3;

$clr-blue: #4851ff;
$clr-orange: #ff6f48;
$clr-pink: #f02aa6;

// Neutral
$clr-gray: #83869a;
$clr-white: #fff;
$clr-offwhite: #f0f1ff;

// Gradient
$clr-gradient-1: linear-gradient($clr-orange, $clr-pink);
$clr-gradient-2: linear-gradient($clr-blue, $clr-pink);
