// COLORS
$clr-dark-charcoal: #312e2c;
$clr-dark-raspberry: #7a284e;
$clr-brandy-red: #854632;
$clr-wenge-brown: #5f564d;
$clr-eggshell: #f3e5d7;
$clr-white-coffee: #e3ddd7;
$clr-snow: #fff7fb;
$clr-white: #ffffff;

// .attribution {
//   text-align: center;
//   font-size: 1rem;
//   color: var(--clr-dark-charcoal);
// }

// .attribution__link:link,
// .attribution__link:visited {
//   font-weight: 700;
//   text-decoration: none;
//   color: var(--clr-nutmeg);
// }

// .attribution__link:hover,
// .attribution__link:active {
//   text-decoration: underline;
//   text-underline-offset: 0.5rem;
// }

// @media screen and (max-width: 46.875em) {
//   html {
//     font-size: 56.25%;
//   }

//   main {
//     padding: 5rem 2rem;
//   }
// }

// @media screen and (max-width: 28.125em) {
//   html {
//     font-size: 50%;
//   }

//   main {
//     padding: 0;
//   }

//   .recipe {
//     padding: 0;
//     border-radius: 0;
//   }

//   .container {
//     padding: 0 3rem 3rem 3rem;
//   }

//   .recipe__img {
//     border-radius: 0;
//   }

//   .heading-primary {
//     font-size: 3.6rem;
//   }

//   .attribution {
//     padding-bottom: 2rem;
//   }
// }
