*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

main {
  margin-bottom: 5.2rem;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: $clr-eggshell;
  padding: 12.4rem 2rem;

  @media screen and (max-width: $bp-tablet) {
    padding: 5rem 2rem;
  }

  @media screen and (max-width: $bp-mobile) {
    padding: 0;
  }
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: 700;
}
