html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-size: 1.6rem;
  color: $clr-wenge-brown;
}

.heading {
  font-family: "Young Serif", serif;
  line-height: normal;

  &--primary {
    font-size: 4rem;
    color: $clr-dark-charcoal;
  }

  &--secondary {
    font-size: 2.8rem;
    color: $clr-brandy-red;
  }
}

.paragraph {
  line-height: 1.6;
}
