html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-tablet) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-tablet) {
    font-size: 50%;
  }
}

body {
  font-family: "Manrope", sans-serif;
}

.attribution {
  font-size: 1rem;
  color: $clr-light-cyan;
  text-align: center;

  &__link {
    &:link,
    &:visited {
      color: $clr-neon-green;
      text-decoration: none;
      text-underline-offset: 0.5rem;
    }
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
