.footer {
  padding: 3.2rem 0;
  background-color: $black;

  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $bp-large) {
      flex-direction: column;
      align-items: start;
      gap: 3.6rem;
    }

    @media screen and (max-width: $bp-small) {
      align-items: center;
    }
  }

  &__logo {
    display: block;

    @media screen and (max-width: $bp-small) {
      width: 15rem;
    }
  }

  &__right-col,
  &__left-col {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__left-col {
    @media screen and (max-width: $bp-small) {
      gap: 3.6rem;
    }
  }

  &__right-col {
    align-items: end;

    @media screen and (max-width: $bp-tablet) {
      align-items: start;
    }

    @media screen and (max-width: $bp-small) {
      align-items: center;
      gap: 1.2rem;
    }
  }

  &__navigation-list {
    display: flex;
    gap: 2.4rem;
    list-style: none;

    @media screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__navigation-link {
    &:link,
    &:visited {
      color: $white;
      text-decoration: none;
      padding-bottom: 1rem;
      @include linkHover;
    }

    &:hover,
    &:active {
      background-size: 30% 1px;
    }
  }

  &__copyright {
    color: $dark-gray;
  }

  &__social-icons {
    color: $white;
    display: flex;
    gap: 1.2rem;
  }

  &__social-link {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      font-size: 1.8rem;
      @include linkHover;
    }

    &:hover,
    &:active {
      background-size: 100% 1px;
    }
  }
}
