.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;

  &__list {
    display: flex;
    gap: 2.4rem;
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $white;
      padding-bottom: 1rem;
      @include linkHover;
    }

    &:hover,
    &:active {
      background-size: 30% 1px;
    }
  }
}
