.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;

  &__logo {
    display: block;
    position: relative;
    z-index: 1;

    @media screen and (max-width: $bp-small) {
      width: 20rem;
    }
  }

  &__list {
    display: flex;
    gap: 2.4rem;
    list-style: none;

    @media screen and (max-width: $bp-medium) {
      position: absolute;
      flex-direction: column;
      justify-content: center;
      gap: 3.2rem;
      background-color: $black;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);

      text-transform: uppercase;
      font-size: 3.6rem;
      font-family: "Josefin Sans", sans-serif;
      padding-left: 4.4rem;
      transition: all 0.3s ease;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }

  &__open .navigation__list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  &__open .btn--mobile__icon[name="close"] {
    display: block;
  }

  &__open .btn--mobile__icon[name="menu"] {
    display: none;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $white;
      padding-bottom: 1rem;
      @include linkHover;
    }

    &:hover,
    &:active {
      background-size: 30% 1px;
    }
  }
}
