@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* Primary - Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Primary - Gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Neutral - Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* Own color declaration */
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  background-image: linear-gradient(
    to bottom,
    var(--soft-violet),
    var(--soft-blue)
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.faq {
  position: relative;
  max-width: 110rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--white);
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
  margin-bottom: 5.2rem;
}

.faq__img-box {
  background: url(../images/illustration-woman-online-desktop.svg) no-repeat,
    url(../images/bg-pattern-desktop.svg) no-repeat;
  background-position: left -8rem top 50%, left -55rem top -25rem;
  background-size: 100%, 220%;
  height: 100%;
}

.faq__question-box {
  padding: 6rem 6rem 6rem 0;
}

.faq__img-box::before {
  content: "";
  display: block;
  height: 14rem;
  width: 14rem;
  background: url(../images/illustration-box-desktop.svg);
  position: absolute;
  top: 55%;
  left: -13rem;
  transform: translateY(-55%);
  z-index: 2;
}

.heading--secondary {
  font-size: 3.6rem;
  color: var(--very-dark-desaturated-blue);
}

.margin-bottom-md {
  margin-bottom: 3.2rem;
}

.faq__accordion {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: var(--very-dark-grayish-blue);
}

.faq__accordion-item {
  border-bottom: 1px solid var(--light-grayish-blue);
  padding-bottom: 1.5rem;
  min-width: 35rem;
}

.faq__header {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq__header:hover .faq__question {
  color: var(--soft-red);
}

.faq__question {
  transition: all 0.2s;
}

.faq__answer {
  display: none;
  line-height: 1.4;
}

.active .faq__question {
  font-weight: 700;
}

.active .faq__icon {
  transform: rotate(180deg);
}

.active .faq__answer {
  display: block;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--white);
}

.attribution__link:link,
.attribution__link:visited {
  padding-bottom: 0.3rem;
  color: var(--soft-red);
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.attribution__link:hover,
.attribution__link:active {
  border-bottom: 1px solid currentColor;
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }

  .faq__img-box {
    background-position: left -8rem top 50%, left -35rem top -10rem;
    background-size: 100%, 170%;
  }

  .faq__img-box::before {
    display: none;
  }
}

@media screen and (max-width: 43.75em) {
  html {
    font-size: 50%;
  }

  .container {
    padding-top: 15rem;
  }

  .faq {
    grid-template-columns: 1fr;
  }

  .faq__img-box {
    position: relative;
    height: 15rem;
    background: url(../images/bg-pattern-mobile.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .faq__img-box::before {
    width: 100%;
    height: 30rem;
    display: block;
    background: url(../images/illustration-woman-online-mobile.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    top: -15rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .heading--secondary {
    font-size: 4rem;
    text-align: center;
  }

  .faq__question-box {
    padding: 0 6rem 6rem 6rem;
  }

  .faq__accordion-item {
    min-width: 25rem;
  }
}
