.section-hero {
  position: relative;
  // background: url(/assets/images/bg-hero.png);
  background-color: $clr-dark-purple;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: bottom;
  // border-bottom-right-radius: 100% 25%;
  // border-bottom-left-radius: 100% 25%;

  &__text-box {
    max-width: 63.5rem;
    margin-inline: auto;
    text-align: center;
  }

  &__img {
    width: 50%;
    margin-inline: auto;
  }
}

.section-features {
  background-color: $clr-ghost-white;
  // background: url(/assets/images/bg-features.png);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: bottom;
}

.section-test {
  &__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 60px);
    align-items: center;
  }

  &__img-box {
    grid-column: 1 / 4;
    grid-row: 1 / 6;
  }

  &__txt-box {
    position: relative;
    grid-column: 3 / -1;
    grid-row: 3 / -1;
    padding: 6.4rem;
    background-color: $clr-dark-purple;

    &::after {
      position: absolute;
      right: 7.269rem;
      top: 26.329rem;
      bottom: -6.174rem;
      content: "";
      display: block;
      height: 13.7rem;
      width: 17.3rem;
      background: url(/assets/images/bg-pattern-3.svg);
      background-size: cover;
    }
  }
}
