*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: $clr-cyan;
  color: $clr-white;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
