.section-design {
  padding-block: 4.8rem;
  position: relative;

  &__content {
    margin-top: -10rem;
  }

  & .heading-secondary {
    margin-top: 10rem;
  }

  &__text-box {
    grid-column: 2 / 4;
  }

  &__img-box {
    grid-column: 4 / -1;
    margin-right: -10rem;

    & img {
      width: 125%;
    }
  }
}

.section-infrastructure {
  &__header {
    height: 40rem;
    display: flex;
    align-items: center;
    background-image: url(../images/bg-pattern-circles.svg),
      linear-gradient(
        to right,
        $gradient-very-dark-gray-blue,
        $gradient-very-dark-saturated-blue
      );
    background-size: 65%, cover;
    background-position: top -70rem left -20rem, 0 0;
    background-repeat: no-repeat;
    border-radius: 0 100px 0 100px;

    &-img-box {
      grid-column: 2 / 4;
    }

    &-text-box {
      grid-column: 4 / 6;
    }
  }

  &__content {
    padding-block: 6.4rem;
  }

  &__img-box {
    grid-column: 1 / 4;
    margin-left: -20rem;
    margin-right: 20rem;

    & img {
      width: 125%;
    }
  }

  &__text-box {
    grid-column: 4 / 6;
  }
}
