:root {
  /* Primary Colors */
  --light-red: #ff5555;
  --orange-yellow: #ffb21e;
  --green-teal: #00bb8f;
  --cobalt-blue: #1125d6;

  /* Neutral */
  --white: #ffffff;
  --pale-blue: #ecf2ff;
  --light-lavender: #cac9ff;
  --dark-gray-blue: #303b59;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 73.6rem;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(61, 108, 236, 0.15);
  /* margin-bottom: 5.2rem; */
}

.summary__text {
  font-size: 2.4rem;
  font-weight: 700;
}

.summary__text--result {
  margin-bottom: 3.5rem;
}

.summary__text--score {
  color: var(--dark-gray-blue);
  margin-bottom: 2.8rem;
}

.summary__result-box {
  text-align: center;
  padding: 4rem 5.4rem 4.6rem 5.4rem;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 32px;
  color: var(--light-lavender);
}

.summary__result-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-bottom: 2.8rem;
  padding: 2rem;
  height: 20rem;
  width: 20rem;
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
}

.result-score--actual {
  display: block;
  color: var(--white);
  font-size: 7.2rem;
  font-weight: 800;
}

.result-score--overall {
  font-weight: 700;
}

.summary__overview {
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.summary__score-box {
  padding: 4rem 4rem 4.6rem 4rem;
  border-radius: 0 32px 32px 0;
}

.summary__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 4.1rem;
}

.summary__item {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  border-radius: 12px;
}

.summary__item-title {
  display: flex;
  gap: 1.2rem;
}

.summary__item--reaction {
  color: var(--light-red);
  background-color: rgba(255, 85, 85, 0.095);
}

.summary__item--memory {
  color: var(--orange-yellow);
  background-color: rgba(255, 178, 30, 0.095);
}

.summary__item--verbal {
  color: var(--green-teal);
  background-color: rgba(0, 187, 143, 0.095);
}

.summary__item--visual {
  color: var(--cobalt-blue);
  background-color: rgba(17, 37, 214, 0.095);
}

.summary__item-score {
  color: var(--dark-gray-blue);
}

.item-score--actual {
  font-weight: 700;
}

.item-score--overall {
  color: hsla(224, 30%, 27%, 0.5);
}

.btn-continue {
  padding: 1.5rem;
  border: none;
  border-radius: 100px;
  width: 100%;
  background: var(--dark-gray-blue);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

.btn-continue:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

.attribution {
  font-size: 1rem;
  text-align: center;
}

.attribution__link:link,
.attribution__link:visited {
  padding-bottom: 0.3rem;
  color: var(--cobalt-blue);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.attribution__link:hover,
.attribution__link:active {
  border-bottom: 1px solid currentColor;
}

@media screen and (max-width: 43.75em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 31.25em) {
  html {
    font-size: 50%;
  }

  .summary {
    grid-template-columns: 1fr;
  }
}
