.cta {
  &:link,
  &:visited {
    display: inline-block;
    font-family: "Fraunces", serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $very-dark-saturated-blue;
  }

  &--yellow {
    &::after {
      @include linkAfterContent;
      background-color: lighten($yellow, 40%);
    }

    &:hover.cta--yellow::after {
      background-color: $yellow;
    }
  }

  &--red {
    &::after {
      @include linkAfterContent;
      background-color: lighten($soft-red, 20%);
    }

    &:hover.cta--red::after {
      background-color: $soft-red;
    }
  }
}
