.section-hero {
  max-width: 100rem;
  margin: 0 auto;

  &__text-box {
    text-align: center;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
  }
}

.section-features {
  &__text-box {
    padding: 9.6rem 0;
  }
}
