.grid {
  display: grid;
  align-items: center;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
  }

  &--gap-sm {
    gap: 4.8rem;
  }

  &--gap-lg {
    gap: 9.6rem;

    @media screen and (max-width: $bp-medium) {
      gap: 4.8rem;
    }
  }
}
