.u-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.u-block {
  display: block;
}

.u-margin-bottom-sm {
  margin-bottom: 1.6rem;
}

.u-overscroll-y-hidden {
  overflow-y: hidden;
}
