html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: $very-dark-cyan;

  &--primary {
    font-size: 4.4rem;

    @media screen and (max-width: $bp-medium) {
      font-size: 4rem;
    }

    @media screen and (max-width: $bp-small) {
      font-size: 3.6rem;
    }
  }

  &--secondary {
    font-size: 3.2rem;

    @media screen and (max-width: $bp-medium) {
      font-size: 3rem;
    }
  }

  &--tertiary {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    color: $white;
  }
}

.paragraph {
  &--three-line {
    max-width: 65rem;
    margin: 0 auto;
  }
}
