.footer {
  &__attribution {
    font-size: 1rem;
    text-align: center;

    &__link {
      &:link,
      &:visited {
        font-weight: 700;
        color: $clr-brandy-red;
        text-decoration: none;
        text-underline-offset: 0.5rem;
      }
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
