@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /* Own color declaration */
  --white: hsl(0, 0%, 100%);
  --darker-grayish-blue: hsl(216, 19%, 31%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  background-color: var(--light-grayish-blue);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.preview {
  max-width: 75rem;
  display: grid;
  grid-template-columns: 2fr 4fr;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
  margin-bottom: 5.2rem;
}

.preview__img-box {
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

.preview__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview__text-box {
  padding: 3.5rem;
  position: relative;
}

.preview__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  line-height: 1.2;
  color: var(--very-dark-grayish-blue);
}

.preview__description {
  color: var(--desaturated-dark-blue);
  margin-bottom: 1.6rem;
}

.preview__info {
  display: flex;
  align-items: center;
  position: relative;
}

.preview__avatar {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.preview__author {
  margin-right: auto;
  margin-left: 1.2rem;
}

.preview__name {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}

.preview__date {
  color: var(--grayish-blue);
}

.share-btn {
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 2;
  font-size: 1.6rem;
}

.share-btn:hover {
  background-color: var(--desaturated-dark-blue);
  color: var(--white);
}

.unclicked {
  background-color: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);
}

.clicked {
  background-color: var(--desaturated-dark-blue);
  color: var(--white);
}

.share-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--darker-grayish-blue);
  position: absolute;
  top: -7rem;
  right: -7.5rem;
  z-index: 1;
  border-radius: 8px;
  transition: all 0.3s;
}

.share-links::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid var(--darker-grayish-blue);
  position: absolute;
  top: 4rem;
  left: 8rem;
}

.share-links span {
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.share-links-icon {
  font-size: 2rem;
  color: var(--white);
}

.attribution {
  font-size: 1rem;
  text-align: center;
}

.attribution__link:link,
.attribution__link:visited {
  padding-bottom: 0.3rem;
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.attribution__link:hover,
.attribution__link:active {
  border-bottom: 1px solid currentColor;
}

.hidden {
  opacity: 0;
}

@media screen and (max-width: 47.75em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 40.625em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 34.375em) {
  .preview {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .preview__text-box {
    padding: 0;
  }

  .preview__title,
  .preview__description,
  .preview__info {
    padding: 0 3rem;
  }

  .preview__description {
    margin-bottom: 4rem;
  }

  .preview__info {
    padding-bottom: 2rem;
  }

  .preview__img-box {
    border-radius: 10px 10px 0 0;
  }

  .share-links {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 0 0 10px 10px;
    padding: 2rem 3rem;
    margin-top: -1.6rem;
  }

  .share-links::after {
    display: none;
  }
}
