.section-content {
  &__text-block {
    max-width: 50rem;
    margin: 0 auto;

    &--sm {
      max-width: 40rem;
    }
  }

  &__img-box {
    & img {
      width: 100%;
      display: block;
      object-fit: cover;
    }

    &--graphic-design {
      background-image: url(../images/desktop/image-graphic-design.jpg);

      & .description {
        color: $dark-desaturated-cyan;
      }
    }

    &--photography {
      background-image: url(../images/desktop/image-photography.jpg);

      & .description {
        color: $dark-blue;
      }
    }

    &--graphic-design,
    &--photography {
      height: 60rem;
      display: flex;
      align-items: center;
      justify-content: end;
      flex-direction: column;
      background-size: cover;
      background-position: top;
      text-align: center;
    }
  }
}

.section-testimonials {
  text-align: center;
  padding-block: 9.6rem;
}

.section-gallery {
  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}
