.btn {
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    transition: all 0.3s;
    font-weight: 600;
  }

  &--solid:link,
  &--solid:visited {
    background-color: $primary;
    color: $white;
  }

  &--solid:hover,
  &--solid:active {
    background-color: $primary-light;
  }

  &--outline:link,
  &--outline:visited {
    color: $primary;
    box-shadow: 0 0 0 1px inset $primary;
  }

  &--outline:hover,
  &--outline:active {
    background-color: $primary;
    color: $white;
  }
}
