// COLORS

// Primary
$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);

// Accent
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);

// Neutral
$light-grayish-blue: #f8f8fe;
$light-gray: hsl(0, 0%, 75%);

// Own declartion
$white: #fff;
$red: #ff6b6b;

// BREAKPOINTS

$bp-large: 56.25em; // 900px
$bp-medium: 43.75em; // 700px
$bp-small: 30em; // 475px
