.section-design {
  padding-block: 3.2rem;
}

.section-infrastructure {
  &__header {
    height: 40rem;
    display: flex;
    align-items: center;
    background-image: url(../images/bg-pattern-circles.svg),
      linear-gradient(
        to right,
        $gradient-very-dark-gray-blue,
        $gradient-very-dark-saturated-blue
      );
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0 100px 0 100px;
  }
}

// .img {
//   // width: 100%;
//   &--right {
//     margin-right: -140rem;
//   }

//   &--left {
//     margin-left: -60rem;
//   }
// }
