html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}
