// COLORS

// Primary
$primary: #4263eb;
$primary-light: #5c7cfa;
$white: #f8f9fa;
$dark-gray: #212529;
$medium-gray: #868e96;
$light-gray: #dee2e6;

// Languages
$html: #e34c26;
$css: #563d7c;
$js: #f1e05a;
$sass: #a53b70;

// Levels
$newbie: #6abecd;
$junior: #aad742;
$intermediate: #f1b604;
$advanced: #f48925;
