// Main Colors
$clr-black: #393d3f;
$clr-gray: #4d5052;
$clr-white: #fdfdff;
$clr-green: #62929e;

// Tints & Shades
$clr-gray-light: #d7d8d9;
$clr-green-dark: #45666f;

// Language Colors
$clr-html: #e34c26;
$clr-css: #563d7c;
$clr-js: #f1e05a;
$clr-sass: #a53b70;

// Difficulty Level Colors
$clr-newbie: #6abecd;
$clr-junior: #aad742;
$clr-intermediate: #f1b604;
$clr-advanced: #f48925;
$clr-guru: #ed2c49;

// Breakpoints
$bp-large: 50em; // 800px
$bp-medium: 43.75em; // 700px
$bp-small: 31.25em; // 500px
