.feature {
  padding: 6.4rem 0;

  &--blue {
    background-color: $very-pale-blue;

    &--1 {
      background: url("../images/bg-section-bottom-desktop-1.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
  }
  &__img {
    width: 100%;
  }
}
