// COLORS

$clr-tomato: hsl(4, 100%, 67%);
$clr-pink: hsl(346, 100%, 66%);
$clr-dark-slate-gray: hsl(234, 29%, 20%);
$clr-charcoal-gray: hsl(235, 18%, 26%);
$clr-gray: hsl(231, 7%, 60%);
$clr-white: hsl(0, 0%, 100%);
