html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-small) {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.heading-primary {
  font-weight: 700;
  font-size: 4.8rem;
  color: $clr-dark-slate-gray;
  line-height: 1;
}

.attribution {
  font-size: 1rem;
  color: $clr-white;
  text-align: center;

  @media screen and (max-width: $bp-small) {
    color: $clr-gray;
    padding-bottom: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      font-weight: 700;
      color: $clr-tomato;
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }
  }
}
