@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap");

:root {
  --dark-gray: #212529;
  --medium-gray: #868e96;
  --light-gray: #f8f9fa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  line-height: 1.8;
  transition: all 0.3s;
}

header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 5.2rem;
}

strong {
  font-weight: 800;
}

button {
  font-size: inherit;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 50%;
  color: var(--dark-gray);
  background: var(--light-gray);
  transition: all 0.3s;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  justify-content: space-between;
  margin-bottom: 5.2rem;
}

h1,
h2 {
  font-weight: 800;
  margin-bottom: 1.6rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

a:hover,
a:active {
  border-bottom: 1px solid currentColor;
}

::selection {
  background-color: var(--medium-gray);
}

.light-mode {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

.btn--light {
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

@media screen and (max-width: 43.75em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}
