@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  --dark-gray: #212529;
  --light-gray: #f8f9fa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

header {
  margin-bottom: 5.2rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  justify-content: space-between;
  margin-bottom: 5.2rem;
}

h1,
h2 {
  font-weight: 700;
  margin-bottom: 1.6rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

a:hover,
a:active {
  border-bottom: 1px solid var(--light-gray);
}
