*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #f7fafd; }

main {
  padding: 6rem 2rem; }
  @media screen and (max-width: 25em) {
    main {
      padding: 0 0 2rem 0; } }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 46.875em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 25em) {
    html {
      font-size: 49%; } }

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2; }

.attribution {
  font-size: 1rem;
  text-align: center; }
  .attribution__link:link, .attribution__link:visited {
    font-weight: 800;
    color: #0a317b;
    text-decoration: none;
    text-underline-offset: 0.5rem;
    transition: color 0.3s ease; }
  .attribution__link:hover, .attribution__link:active {
    color: #f65351;
    text-decoration: underline; }

.u-hidden {
  display: none;
  visibility: hidden;
  opacity: 0; }

.btn--notification {
  font-size: inherit;
  color: #5e6778;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease; }
  .btn--notification:hover {
    color: #0a317b; }

.notification {
  background-color: #ffffff;
  max-width: 75rem;
  margin: 0 auto;
  padding: 4rem 3rem 1rem 3rem;
  border-radius: 20px;
  margin-bottom: 5.2rem; }
  @media screen and (max-width: 25em) {
    .notification {
      border-radius: 0; } }
  .notification__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.6rem; }
  .notification__title {
    font-weight: 800;
    font-size: 2.4rem;
    display: flex;
    align-items: flex-end;
    gap: 1.2rem; }
  .notification__total {
    display: inline-block;
    font-size: 1.4rem;
    color: #e5effa;
    background-color: #0a317b;
    padding: 0.4rem 1.2rem;
    border-radius: 6px; }
  .notification__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #5e6778; }
    .notification__list__item {
      display: flex;
      gap: 1.6rem;
      padding: 2rem;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease; }
      .notification__list__item:hover {
        background-color: #f7fafd; }
      .notification__list__item--unread {
        background-color: #f7fafd; }
  .notification__img {
    display: block;
    height: 5rem;
    width: 5rem; }
  .notification__text--image {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 25em) {
      .notification__text--image {
        gap: 2.4rem; } }
  .notification__symbol {
    display: inline-block;
    position: relative;
    top: -1px;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #f65351;
    border-radius: 50%;
    margin-left: 0.5rem; }
  .notification__time {
    display: block;
    margin-top: 0.5rem; }
  .notification__link:link, .notification__link:visited {
    font-weight: 800;
    text-decoration: none;
    transition: color 0.3s ease; }
  .notification__link--name:link, .notification__link--name:visited {
    color: #1c202b; }
  .notification__link--name:hover, .notification__link--name:active {
    color: #0a317b; }
  .notification__link--gray:link, .notification__link--gray:visited {
    color: #5e6778; }
  .notification__link--gray:hover, .notification__link--gray:active {
    color: #0a317b; }
  .notification__link--blue:link, .notification__link--blue:visited {
    color: #0a317b; }
  .notification__link--blue:hover, .notification__link--blue:active {
    color: #0a317b; }
  .notification__private-message {
    display: block;
    margin-top: 1.6rem;
    padding: 2rem;
    box-shadow: 0 0 0 1px inset #939dae;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    .notification__private-message:hover {
      background-color: #e5effa;
      box-shadow: none; }
