body {
  font-size: 1.5rem;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;

  &--primary {
    font-size: 6.4rem;
    color: $white;
  }

  &--secondary {
    font-size: 3.2rem;
  }
}

.paragraph {
  line-height: 1.8;
}
