.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
  align-items: center;

  @media screen and (max-width: $bp-large) {
    grid-template-columns: 1fr;
  }
}
