.footer {
  background-color: $dark-moderate-cyan;

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-list {
      display: flex;
      gap: 2.4rem;
      list-style: none;
    }

    &-link {
      text-decoration: none;
    }
  }
}
