html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
}

.heading-primary {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: $clr-very-dark-blue;
}

.caption {
  text-transform: uppercase;
}
