// COLORS

// Primary Colors
$light-red: #ff525d;
$very-light-red: #ff7a85;
$very-dark-blue: #1f3f5b;

// Neutral Colors
$white: #ffffff;
$grayish-blue: #c8c8cb;
$very-dark-grayish-blue: #4b5862;
$very-dark-black-blue: #25252d;

// Gradient
$gradient-very-light-red: #ff8f70;
$gradient-light-red: #ff3d54;
$gradient-very-dark-gray-blue: #2c2d3f;
$gradient-very-dark-saturated-blue: #3f4164;
