*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5rem;
  font-family: "Alata", sans-serif;
  font-weight: 400; }

.heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }
  .heading--primary {
    font-size: 8.4rem;
    color: #ffffff; }
  .heading--secondary {
    font-size: 5.2rem; }

.paragraph {
  line-height: 1.8; }

.u-container {
  max-width: 130rem;
  margin: 0 auto; }

.u-block {
  display: block; }

.u-margin-bottom-sm {
  margin-bottom: 1.6rem; }

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 1rem 3rem;
  transition: all 0.3s; }

.btn--outline:link,
.btn--outline:visited {
  color: #000000;
  border: 1px solid currentColor; }

.btn--outline:hover,
.btn--outline:active {
  color: #ffffff;
  background-color: #000000; }

.img-card {
  position: relative;
  cursor: pointer; }
  .img-card__img {
    filter: brightness(85%);
    transition: all 0.3s ease;
    width: 100%; }
  .img-card__text {
    position: absolute;
    bottom: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 0 3rem 3rem;
    transition: all 0.3s; }
  .img-card:hover img {
    filter: opacity(70%); }
  .img-card:hover .img-card__text {
    color: #000000; }

.footer {
  padding: 3.2rem 0;
  background-color: #000000; }
  .footer__container {
    display: flex;
    justify-content: space-between; }
  .footer__right-col, .footer__left-col {
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
  .footer__right-col {
    align-items: end; }
  .footer__navigation-list {
    display: flex;
    gap: 2.4rem;
    list-style: none; }
  .footer__navigation-link:link, .footer__navigation-link:visited {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 1rem;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: center bottom;
    transition: background-size 0.3s ease; }
  .footer__navigation-link:hover, .footer__navigation-link:active {
    background-size: 30% 1px; }
  .footer__copyright {
    color: #8c8c8c; }
  .footer__social-icons {
    color: #ffffff;
    display: flex;
    gap: 1.2rem; }
  .footer__social-link:link, .footer__social-link:visited {
    color: inherit;
    text-decoration: none;
    font-size: 1.8rem;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: center bottom;
    transition: background-size 0.3s ease; }
  .footer__social-link:hover, .footer__social-link:active {
    background-size: 100% 1px; }

.header {
  min-height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/desktop/image-hero.jpg);
  background-position: top;
  background-size: cover; }
  .header__text-box {
    margin-top: 9.6rem;
    display: inline-block;
    border: 2px solid #ffffff;
    padding: 2.5rem 10rem 2.5rem 2.5rem; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0; }
  .navigation__list {
    display: flex;
    gap: 2.4rem;
    list-style: none; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 1rem;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: center bottom;
    transition: background-size 0.3s ease; }
  .navigation__link:hover, .navigation__link:active {
    background-size: 30% 1px; }

.section-leader {
  padding: 20rem 0; }
  .section-leader__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end; }
  .section-leader__img-box img {
    display: block; }
  .section-leader__text-box {
    background-color: #ffffff;
    padding: 10rem 0 0 10rem;
    margin-left: -15rem; }

.section-creations {
  margin-bottom: 16rem; }
  .section-creations__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.4rem; }
  .section-creations__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem; }
