.header {
  background: url("../images/bg-hero-desktop.svg"), $very-pale-cyan;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: $bp-medium) {
    text-align: center;
    background: url("../images/bg-hero-mobile.svg"), $very-pale-cyan;
  }

  &__container {
    padding-top: 2rem;
    padding-bottom: 6rem;

    @media screen and (max-width: $bp-medium) {
      padding-block: 4rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }
}

.logo {
  height: 3.2rem;

  &--footer {
    margin-bottom: 2.4rem;
  }
}
