// COLORS

// Primary
$clr-lime-green: hsl(163, 72%, 41%);
$clr-bright-red: hsl(356, 69%, 56%);

// Social Media
$clr-facebook: hsl(208, 92%, 53%);
$clr-twitter: hsl(203, 89%, 53%);
$clr-instagram: linear-gradient(
  to right,
  hsl(37, 97%, 70%),
  hsl(329, 70%, 58%)
);
$clr-youtube: hsl(348, 97%, 39%);

// Buttons
$clr-btn-dark: linear-gradient(
  to right,
  hsl(210, 78%, 56%),
  hsl(146, 68%, 55%)
);
$clr-btn-light: hsl(230, 22%, 74%);

// Dark Theme
$clr-very-dark-blue: hsl(230, 17%, 14%); // Background
$clr-very-dark-blue-top: hsl(232, 19%, 15%); // Top Background
$clr-dark-desaturated-blue: hsl(228, 28%, 20%); // Card Background
$clr-desaturated-blue: hsl(228, 34%, 66%); // Card Text

// Light Theme
$clr-very-pale-blue: hsl(225, 100%, 98%); // Top Background
$clr-light-grayish-blue: hsl(227, 47%, 96%); // Card Background
$clr-dark-grayish-blue: hsl(228, 12%, 44%); // Card Text
$clr-very-dark-blue: hsl(230, 17%, 14%); // Card Text

// Neutral
$clr-white: hsl(0, 0%, 100%); // Card Text (Dark), Background (Light)

// BREAKPOINTS
$bp-largest: 62.5em; // 1000px
$bp-large: 53.125em; // 850px
$bp-tablet: 37.5em; // 600px
$bp-medium: 31.25em; // 500px
