// COLORS
$clr-almost-white: hsl(0, 0%, 98%);
$clr-medium-gray: hsl(0, 0%, 41%);
$clr-almost-black: hsl(0, 0%, 8%);
$clr-white: hsl(0, 0%, 100%);

// BREAKPOINTS

$bp-large: 56.25em; // 900px
$bp-medium: 37.5em; // 600px
$bp-small: 25em; // 400px
