html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.heading {
  font-family: "Raleway", sans-serif;

  &--primary {
    color: $very-dark-blue;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.4;
  }
}
