.range {
  background-color: $dark-blue;
  padding: 4rem;
  border-radius: 6px;

  &__caption {
    color: $grayish-blue;

    & span {
      font-weight: 700;
      color: $pale-blue;
    }
  }

  &__input {
    appearance: none;
    width: 100%;
    border-radius: 100px;
    cursor: pointer;
    background: transparent;
    overflow: hidden;

    &::-webkit-slider-thumb {
      appearance: none;
      height: 1.5rem;
      width: 1.5rem;
      background-color: $pale-blue;
      border-radius: 50%;
    }

    &::-webkit-slider-runnable-track {
      background: $gradient;
      border-radius: 100px;
    }
  }
}
