// COLORS

$clr-red: #f65351;
$clr-blue: #0a317b;

$clr-white: #ffffff;

$clr-very-light-grayish-blue: #f7fafd;
$clr-light-grayish-blue-100: #e5effa;
$clr-light-grayish-blue-200: #dde7ee;

$clr-grayish-blue: #939dae;
$clr-dark-grayish-blue: #5e6778;

$clr-very-dark-blue: #1c202b;
