*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit; }

body {
  box-sizing: border-box;
  min-height: 100vh; }

img,
picture,
svg,
video {
  display: block;
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: "Manrope", sans-serif;
  line-height: 1.78; }

.heading {
  font-family: "Fraunces", serif;
  font-weight: 600;
  color: #fff; }
  .heading--primary {
    font-size: 8rem;
    line-height: 1; }
  .heading--secondary {
    font-size: 5.6rem;
    line-height: 1.15; }

.paragraph {
  font-size: 1.8rem;
  line-height: 1.78;
  color: #fff; }

.u-container {
  max-width: 112rem;
  padding: 0 2rem;
  margin-inline: auto; }

.u-underlined {
  border-bottom: 3px solid #44ffa1; }

.u-margin-bottom-sm {
  margin-bottom: 3.2rem; }

.u-margin-bottom-md {
  margin-bottom: 3.7rem; }

.btn:link, .btn:visited {
  font-weight: bold;
  text-decoration: none;
  display: inline-block; }

.btn--primary:link, .btn--primary:visited {
  color: #24053e;
  background-color: #44ffa1;
  padding: 1.6rem 2.4rem;
  transition: all 0.3s ease; }

.btn--primary:hover, .btn--primary:active {
  color: #44ffa1;
  background-color: transparent;
  box-shadow: 0 0 0 2px inset #44ffa1; }

.btn--secondary:link, .btn--secondary:visited {
  color: #fff;
  border-bottom: 3px solid #44ffa1;
  transition: color 0.3s ease; }

.btn--secondary:hover, .btn--secondary:active {
  color: #44ffa1; }

.feature {
  color: #24053e;
  text-align: center;
  padding: 17.1rem 0; }
  .feature__number, .feature__title {
    font-family: "Fraunces", serif;
    font-weight: 600; }
  .feature__number {
    font-size: 2.4rem;
    padding: 0.8rem 1.7rem 0.8rem 1.8rem;
    border: 1px solid currentColor;
    border-radius: 50%; }
  .feature__title {
    font-size: 3.2rem;
    line-height: 1.25;
    margin: 5.6rem 0 2.8rem 0; }

.footer {
  text-align: center;
  background-color: #fff;
  padding: 6rem 0; }
  .footer__logo {
    display: inline-block;
    margin-bottom: 5.762rem; }
  .footer__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.25rem; }
  .footer__icon {
    height: 2rem;
    width: 2rem;
    fill: #584d62;
    transition: fill 0.3s ease; }
    .footer__icon:hover {
      fill: #24053e; }

.header {
  background-color: #24053e;
  padding-block: 5.6rem; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 112rem;
    padding: 0 2rem;
    margin-inline: auto; }

.grid {
  display: grid; }
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.6rem; }

.section-hero {
  position: relative;
  background-color: #24053e; }
  .section-hero__text-box {
    max-width: 63.5rem;
    margin-inline: auto;
    text-align: center; }
  .section-hero__img {
    width: 50%;
    margin-inline: auto; }

.section-features {
  background-color: #fcf8ff; }

.section-test__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 60px);
  align-items: center; }

.section-test__img-box {
  grid-column: 1 / 4;
  grid-row: 1 / 6; }

.section-test__txt-box {
  position: relative;
  grid-column: 3 / -1;
  grid-row: 3 / -1;
  padding: 6.4rem;
  background-color: #24053e; }
  .section-test__txt-box::after {
    position: absolute;
    right: 7.269rem;
    top: 26.329rem;
    bottom: -6.174rem;
    content: "";
    display: block;
    height: 13.7rem;
    width: 17.3rem;
    background: url(/assets/images/bg-pattern-3.svg);
    background-size: cover; }
