*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: $clr-almost-white;
  overflow-x: hidden;
}

main {
  @media screen and (max-width: $bp-large) {
    padding: 2rem 0 8.4rem 0;
  }
}
