*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow-x: hidden;

  &.active body::after {
    opacity: 1;
    visibility: visible;
  }
}

body {
  box-sizing: border-box;
  background-color: $clr-almost-white;
  overflow-x: hidden;

  &::after {
    content: "";
    opacity: 0;
    visibility: hidden;
    background-color: rgba($clr-almost-black, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.3s ease;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.2rem;
  padding-bottom: 2rem;

  @media screen and (max-width: $bp-large) {
    padding: 2rem 0 8.4rem 0;
  }
}
