html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
}

.heading-primary {
  font-size: 8.4rem;

  @media screen and (max-width: $bp-large) {
    font-size: 6.4rem;
  }

  @media screen and (max-width: $bp-medium) {
    font-size: 5.2rem;
  }

  @media screen and (max-width: $bp-small) {
    font-size: 4rem;
  }
}

.paragraph {
  color: $clr-medium-gray;
  line-height: 1.6;
  width: 75%;

  @media screen and (max-width: $bp-large) {
    width: 100%;
  }
}
