html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
}

.heading-primary {
  font-size: 8.4rem;

  @media screen and (max-width: $bp-large) {
    font-size: 6.4rem;
  }

  @media screen and (max-width: $bp-medium) {
    font-size: 5.2rem;
  }

  @media screen and (max-width: $bp-small) {
    font-size: 4rem;
  }
}

.paragraph {
  color: $clr-medium-gray;
  line-height: 1.6;
  width: 75%;

  @media screen and (max-width: $bp-large) {
    width: 100%;
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;

  &__link {
    &:link,
    &:visited {
      font-weight: 700;
      color: $clr-almost-black;
      text-decoration: none;
      padding-bottom: 0.5rem;
      background-image: linear-gradient($clr-almost-black, $clr-almost-black);
      background-repeat: no-repeat;
      background-size: 0 0;
      background-position: bottom center;
      transition: background-size 0.3s ease;
    }

    &:hover,
    &:active {
      background-size: 100% 1px;
    }
  }
}
