*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: linear-gradient(
    $clr-very-pale-blue 35%,
    $clr-white 0,
    $clr-white 65%
  );
  padding: 2rem;
}

.dark-mode {
  background: linear-gradient(
    $clr-very-dark-blue-top 35%,
    $clr-very-dark-blue 0,
    $clr-very-dark-blue 65%
  );
}
