.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 6rem;

  &__list {
    display: flex;
    gap: 2.4rem;
    list-style: none;
    z-index: 1;

    @media screen and (max-width: $bp-small) {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      background-color: red;
      min-height: 100vh;
      padding: 2rem;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $dark-grayish-blue;
    transition: color 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $soft-red;
  }
}
