.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6.4rem;
  font-size: 1.6rem;
  color: $clr-medium-gray;
  padding: 4rem 0;
  max-width: 80%;
  margin: 0 auto;

  &.active .navigation__block {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  &.active .btn--mobile img[name="menu-icon"] {
    display: none;
  }

  &.active .btn--mobile img[name="close-icon"] {
    display: block;
  }

  &__block,
  &__ctas {
    display: flex;
    align-items: center;
  }

  &__block {
    flex: 1;
    justify-content: space-between;
    transition: all 0.3s ease;

    @media screen and (max-width: $bp-large) {
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      gap: 3.6rem;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 60vw;
      height: 100vh;
      padding-top: 10rem;
      padding-left: 3rem;
      background-color: $clr-white;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateX(100%);
    }

    @media screen and (max-width: $bp-small) {
      padding: 10rem 3rem 0 3rem;
    }
  }

  &__ctas {
    gap: 3.6rem;

    @media screen and (max-width: $bp-large) {
      flex-direction: column;
      align-items: start;
      gap: 2.4rem;
    }

    @media screen and (max-width: $bp-small) {
      text-align: center;
      width: 100%;
    }
  }

  &__logo {
    display: block;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.6rem;

    @media screen and (max-width: $bp-large) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__item {
    &--dropdown {
      position: relative;

      &:nth-of-type(1) .navigation__dropdown {
        left: -6rem;
      }

      &.active .navigation__dropdown {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        @media screen and (max-width: $bp-large) {
          display: flex;
        }
      }

      &.active .navigation__link {
        color: $clr-almost-black;
      }

      &.active .navigation__icon {
        fill: $clr-almost-black;
        transform: rotate(-180deg);
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    &:hover,
    &:active {
      color: $clr-almost-black;
    }

    &--dropdown {
      &:link,
      &:visited {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      &:hover .navigation__icon {
        fill: $clr-almost-black;
      }
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $clr-medium-gray;
    transition: all 0.3s ease;
  }

  &__dropdown {
    position: absolute;
    top: 4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    background-color: $clr-white;
    box-shadow: 0 0.1rem 1rem 0.5rem rgba($clr-almost-black, 0.05);
    padding: 3rem 2.5rem;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;

    @media screen and (max-width: $bp-large) {
      position: static;
      display: none;
      box-shadow: none;
      gap: 2.4rem;
      padding: 3rem 2.5rem 0 2.5rem;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }

    &__link {
      &:link,
      &:visited {
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;
        white-space: nowrap;
      }

      &:hover,
      &:active {
        color: $clr-almost-black;
      }
    }
  }
}
